.OneAlbum {
    display: flex;
    flex-direction: column;
}

.OneAlbumContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.OneAlbumDescription {
    text-align: left;
    font-size: 30px;
}