.PlayList {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-bottom: 1px solid lightslategray;
}

.playListImage {
    height: 309px;
    width: 550px;
}

.PlayListContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.PlayListDescription {
    margin-top: 20px;
    margin-right: 200px;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    text-align: left;
}

.PlayListName {
    font-size: 40px !important;
}

/* .PlayListSongsList {
   float: right;
    width: 700px;
    height: 200px;
    overflow: auto;
} */