.OneArtist {
    display: flex;
    flex-direction: column;
}

/* .ArtistContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid white;
} */

.OneArtitstDescription {
    text-align: left;
    font-size: 30px;
}

.OneArtistAlbums {
    margin-top: 40px;
}