.songContainer {
    display: flex;
    flex-direction: row;
}

.song-list {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.Home {
    width: 100%;
    height: 100%;
}

.firstSong {
    list-style: none;
    margin-top: 55px;
    margin-bottom: 0px;
    width: 100%;
}